#navbar {
    background: transparent;
    color: white;
}

.active {
    color: #1C64F2;
}

.active:hover {
    color: white;
}

.link:hover {
    color: #1C64F2;
}

.body {
    background-color: #FDF6E0;
}

@media (min-width: 1024px) {
    .hero {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .hero .img-hero img {
        display: block;
        width: 500px;
        border-radius: 10px;
    }
}